.btn-del {
    text-decoration: none;
    padding: 1px 5px;
    color: black;
    margin-left: 12vw;
}

.btn-del:hover {
    color: white;
    border: 1px solid #ddd;
    padding: 1px 5px;
    background-color: rgb(240, 16, 16);
}